/* || GENERAL STYLES */

body {
  color: white;
  background-color: #202124;
}

/* text selection color */
::-moz-selection {
  background: darkgreen;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: darkgreen;
  color: #fff;
  text-shadow: none;
}

a {
  border-bottom: 3px solid var(--darkMaincolor);
  color: inherit;
}
a:hover {
  background-color: var(--darkMaincolor);
  color: black;
}

blockquote {
  border-color: blue;
}

hr {
  border-top: 0.2rem dotted lightgray;
}

time {
  color: #999;
}

footer {
  border-top: 0.2rem dotted lightgray;
}

/* code blocks */
code {
  background-color: lightblue;
  color: black;
  text-decoration: bold;
  padding: 0.1em 0.2em;
}
pre {
  background-color: #272822;
  line-height: 1.4;
  overflow-x: auto;
  padding: 1em;
}

/* || POST STYLES */

/* page titles */
.page-title::before {
  color: var(--darkMaincolor)
}

/* post tags formatting */
.tags a {
  border-bottom: 3px solid var(--darkMaincolor);
}
.tags a:hover {
  background-color: var(--darkMaincolor);
  color: black;
}

/* code block highlight */
.highlight {
  background-color: #333;
}
.soc-link:hover {
  color: var(--darkMaincolor);
  background-color: transparent;
}
.draft-label {
  color: var(--darkMaincolor);
  background-color: blue;
}
.highlight pre code[class=language-javaScript]::before,
.highlight pre code[class="language-js"]::before {
  content: "js";
  background: #f7df1e;
  color: black;
}
.highlight pre code[class*='language-yml']::before,
.highlight pre code[class*='language-yaml']::before {
  content: 'yaml';
  background: #f71e6a;
  color: white;
}
.highlight pre code[class*='language-shell']::before,
.highlight pre code[class*='language-bash']::before,
.highlight pre code[class*='language-sh']::before {
  content: 'shell';
  background: green;
  color:white
}
.highlight pre code[class*='language-json']::before{
  content: 'json';
  background: dodgerblue;
   color: #000000 
}
.highlight pre code[class*='language-python']::before,
.highlight pre code[class*='language-py']::before {
  content: 'py';
  background: blue;
  color: yellow ;
}
.highlight pre code[class*='language-css']::before{
  content: 'css';
  background: cyan;
  color: black ;
}
.highlight pre code[class*='language-go']::before{
  content: 'Go';
  background: cyan;
  color: royalblue ;
}
.highlight pre code[class*='language-md']::before,
.highlight pre code[class*='language-md']::before{
  content: 'Markdown';
  background: royalblue;
  color: whitesmoke ;
}

/* || HOMEPAGE STYLES */

/* dark mode toggle button */
#dark-mode-toggle {
  border-bottom: 3px solid var(--darkMaincolor);
}
#dark-mode-toggle:hover {
  border-top: 3px solid var(--darkMaincolor);
  background-color: var(--darkMaincolor);
  color: black;
}

/* blinking cursor */
.blinking {
  background-color: var(--darkMaincolor);
}
@keyframes blinking {
  0% {
    background-color: transparent;
  }
  49% {
    background-color: transparent
  }
  50% {
    background-color: var(--darkMaincolor);
  }
}