/* || STYLE VARIABLES */

:root {
  --textColor: #232333;
  --mainColor: royalblue;
  --mainBgColor: #ddd;
  --hoverColor:white;
  --hoverBgColor: royalblue;
  --selectionColor: white;
  --selectionBgColor: dodgerblue;
  --metadataColor: #555;
  --dividerColor: #232333;
}

/* || GENERAL STYLES */

html {
  color: var(--textColor);
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  line-height: 1.6em;
}

body {
  background-color: var(--mainBgColor);
  display: block;
  margin: 8px;
}

/* text selection color */
::-moz-selection {
  background: var(--selectionBgColor);
  color: var(--selectionColor);
  text-shadow: none;
}
::selection {
  background: var(--selectionBgColor);
  color: var(--selectionColor);
  text-shadow: none;
}

p {
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.6;
  font-size: 1.1em;
}

a {
  border-bottom: 3px solid var(--mainColor);
  color: inherit;
  text-decoration: none;
}
a:hover {
  background-color: var(--hoverBgColor);
  color: var(--hoverColor);
}

blockquote {
  border-left: 3px solid var(--mainColor);
  color: #737373;
  margin: 0;
  padding-left: 1em;
}

hr {
  border: 0;
  border-top: 0.2rem dotted var(--dividerColor);
  margin: 1em 0;
}

time {
  color: var(--metadataColor);
}

ul {
  list-style: none;
  padding-left: 2ch;
}
ul li {
  text-indent: -2ch;
}
ul > li::before {
  content: '* ';
  font-weight: bold;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}
table th{
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
  font-size: large;
}
table td{
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em 0;
  line-height: 2.5em;
}
header .main {
  font-size: 1.5rem;
}

footer {
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem;
  margin-top: 2rem;
  border-top: 0.2rem dotted var(--dividerColor);
}

/* || POST STYLES */

/* page titles */
.page-title {
  margin-top: 3rem;
  font-size: 1.6rem;
}
.page-title::before {
  content: '> ';
  color: var(--mainColor)
}
article .page-title {
  margin-bottom: 0.8rem;
}

/* post metadata */
.meta {
  color: var(--metadataColor);
  letter-spacing: -0.5px;
}

/* content container */
.content {
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 0 1ch;
  word-wrap: break-word;
}

/* draft post label */
.draft-label{ 
  color: var(--hoverColor);
  background-color: var(--hoverBgColor);
  text-decoration: none;
  padding: 1px 4px;
  border-radius: 4px;
  margin-left: 0.5rem;
}

/* post tags formatting */
.tags li::before{
  content: "🏷 ";
}
.tags a{
  border-bottom: 3px solid var(--mainColor); 
}
.tags a:hover{
  color:var(--hoverColor);
  background-color: var(--hoverBgColor);
}

/* || HOMEPAGE STYLES */

/* site title navbar link */
#nav-title {
  border-bottom: none;
}

/* blinking cursor */
.blinking {
  width:15px;
  height: 2px;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 0.3rem;
  margin-right: 0.2rem;
  background-color: var(--mainColor);
  -webkit-animation: blinking 2s infinite;
  animation: blinking 2s infinite;
}
@keyframes blinking {
  0% {
    background-color: transparent;
  }
  49% {
    background-color: transparent
  }
  50% {
    background-color: var(--mainColor);
  }
}

/* dark mode toggle button */
#dark-mode-toggle {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid var(--mainColor);
  color: inherit;
}
#dark-mode-toggle:hover {
  border-top: 3px solid var(--mainColor);
  background-color: var(--hoverBgColor);
  color: var(--hoverColor);
}
#dark-mode-toggle-icon {
  max-height: 15px;
}

/* author avatar and bio */
.author {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.author-avatar {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.author-name {
  font-size: 1.7em;
  margin-bottom: 1.2rem;
}
.author-bio {
  max-width: 400px;
  line-height: 1.6;
  margin: 0 auto;
}

/* social media icons */
.socials {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}
.soc-link {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
  border-bottom: none;
}
.soc-link:hover{
  color: var(--mainColor);
  background-color: transparent;
}
.soc-icon {
  width: 28px;
  height: 28px;
}

/* recent posts section */
.recent-posts {
  margin-left: 1rem;
}
.list-item {
  margin-bottom: 1rem;
}
.list-title {
  margin-bottom: 0.5em;
  font-size: 1.2rem;
}

/* || CODE SYNTAX HIGHLIGHT */

/* code blocks */
code {
  color: white;
  background-color: #323438;
  padding: 0 .2em;
  border-radius: 2px;
  border-width: 2px;
  text-rendering: optimizeLegibility;
}
pre {
  background-color: #ececec;
  line-height: 1.4;
  overflow-x: auto;
  border-radius: 5px;
  padding: 1em;
  text-rendering: optimizeLegibility;
}
pre code {
  background-color: transparent;
  color: inherit;
  font-size: 100%;
  padding: 0;
}

/* code block highlight */
.highlight {
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.highlight pre ::selection {
  background: rgba(255, 255, 255, 0.2);
  color: inherit;
}
.highlight pre code[class*="language-"] {
  -webkit-overflow-scrolling: touch;
}
.highlight pre code[class*="language-"]::before {
  background: black;
  border-radius: 0 0 0.25rem 0.25rem;
  color: white;
  font-size: 12px;
  letter-spacing: 0.025rem;
  padding: 0.1rem 0.5rem;
  position: absolute;
  right: 1rem;
  text-align: right;
  text-transform: uppercase;
  top: 0;
}
.highlight pre code[class=language-javaScript]::before,
.highlight pre code[class="language-js"]::before {
content: "js";
background: #f7df1e;
color: black;
}
.highlight pre code[class*='language-yml']::before,
.highlight pre code[class*='language-yaml']::before {
content: 'yaml';
background: #f71e6a;
color: white;
}
.highlight pre code[class*='language-shell']::before,
.highlight pre code[class*='language-bash']::before,
.highlight pre code[class*='language-sh']::before {
content: 'shell';
background: green;
color:white
}
.highlight pre code[class*='language-json']::before{
content: 'json';
background: dodgerblue;
 color: #000000 
}
.highlight pre code[class*='language-python']::before,
.highlight pre code[class*='language-py']::before {
content: 'py';
background: blue;
color: yellow ;
}
.highlight pre code[class*='language-css']::before{
content: 'css';
background: cyan;
color: black ;
}
.highlight pre code[class*='language-go']::before{
content: 'Go';
background: cyan;
color: royalblue ;
}
.highlight pre code[class*='language-md']::before,
.highlight pre code[class*='language-md']::before{
content: 'Markdown';
background: royalblue;
color: whitesmoke ;
}