/* || STYLE VARIABLES */

:root {
  --textColor: #232333;
  --mainColor: royalblue;
  --mainBgColor: #eee;
  --hoverColor:white;
  --hoverBgColor: royalblue;
  --selectionColor: white;
  --selectionBgColor: dodgerblue;
  --metadataColor: #555;
  --dividerColor: #232333;
  --codeColor: white;
  --codeBgColor: rgb(122, 150, 233);
  --codeBorderColor: rgb(92, 128, 236);
}

/* || GENERAL STYLES */

html {
  color: var(--textColor);
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  line-height: 1.6em;
}

body {
  background-color: var(--mainBgColor);
  display: block;
  margin: 8px;
}

/* text selection color */
::-moz-selection {
  background: var(--selectionBgColor);
  color: var(--selectionColor);
  text-shadow: none;
}
::selection {
  background: var(--selectionBgColor);
  color: var(--selectionColor);
  text-shadow: none;
}

p {
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.6;
  font-size: 1.1em;
}

a {
  border-bottom: 3px solid var(--mainColor);
  color: inherit;
  text-decoration: none;
}
a:hover {
  background-color: var(--hoverBgColor);
  color: var(--hoverColor);
}

/* code blocks */
code {
  color: var(--codeColor);
  background-color: var(--codeBgColor);
  border: solid 1px var(--codeBorderColor);
  border-radius: 3px;
  font-size: 85%;
  font-family: 'Roboto Mono';
  padding: 0 0.4em;
  text-rendering: optimizeLegibility;
}
pre {
  line-height: 1.4;
  overflow-x: auto;
  border-radius: 10px;
  padding: 1em;
  text-rendering: optimizeLegibility;
}
pre code {
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: 100%;
  padding: 0;
}

blockquote {
  border-left: 3px solid var(--mainColor);
  color: #737373;
  margin: 0;
  padding-left: 1em;
}

hr {
  border: 0;
  border-top: 0.2rem dotted var(--dividerColor);
  margin: 1em 0;
}

time {
  color: var(--metadataColor);
}

ul {
  list-style: none;
  padding-left: 2ch;
}
ul li {
  text-indent: -2ch;
}
ul > li::before {
  content: '* ';
  font-weight: bold;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}
table th{
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
  font-size: large;
}
table td{
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em 0;
  line-height: 2.5em;
}
header .main {
  font-size: 1.5rem;
}

footer {
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem;
  margin-top: 2rem;
  border-top: 0.2rem dotted var(--dividerColor);
}

/* || POST STYLES */

/* page titles */
.page-title {
  margin-top: 3rem;
  font-size: 1.6rem;
}
.page-title::before {
  content: '> ';
  color: var(--mainColor);
}
article .page-title {
  margin-bottom: 0.8rem;
}

/* post metadata */
.meta {
  color: var(--metadataColor);
  letter-spacing: -0.5px;
}

/* content container */
.content {
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 0 1ch;
  word-wrap: break-word;
}

/* draft post label */
.draft-label{ 
  color: var(--hoverColor);
  background-color: var(--hoverBgColor);
  text-decoration: none;
  padding: 1px 4px;
  border-radius: 4px;
  margin-left: 0.5rem;
}

/* post tags formatting */
.tags li::before{
  content: "🏷 ";
}
.tags a{
  border-bottom: 3px solid var(--mainColor); 
}
.tags a:hover{
  color:var(--hoverColor);
  background-color: var(--hoverBgColor);
}

/* || HOMEPAGE STYLES */

/* site title navbar link */
#nav-title {
  border-bottom: none;
}

/* blinking cursor */
.blinking {
  width: 15px;
  height: 2px;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 0.3rem;
  margin-right: 0.2rem;
  background-color: var(--mainColor);
  animation: blinking 2s both infinite;
}
@keyframes blinking {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* dark mode toggle button */
#dark-mode-toggle {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid var(--mainColor);
  color: inherit;
}
#dark-mode-toggle:hover {
  border-top: 3px solid var(--mainColor);
  background-color: var(--hoverBgColor);
  color: var(--hoverColor);
}
#dark-mode-toggle-icon {
  max-height: 15px;
}

/* author avatar and bio */
.author {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.author-avatar {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.author-name {
  font-size: 1.7em;
  margin-bottom: 1.2rem;
}
.author-bio {
  max-width: 400px;
  line-height: 1.6;
  margin: 0 auto;
}

/* social media icons */
.socials {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}
.soc-link {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
  border-bottom: none;
}
.soc-link:hover{
  color: var(--mainColor);
  background-color: transparent;
}
.soc-icon {
  width: 28px;
  height: 28px;
}

/* recent posts section */
.recent-posts {
  margin-left: 1rem;
}
.list-item {
  margin-bottom: 1rem;
}
.list-title {
  margin-bottom: 0.5em;
  font-size: 1.2rem;
}

/* || "MONOKAI LIGHT" SYNTAX HIGHLIGHTING THEME */

/* Background */ .chroma { color: #272822; background-color: #eceae3 }
/* Error */ .chroma .err { color: #960050; background-color: #1e0010 }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }      
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */ .chroma .k { color: #00a8c8 }
/* KeywordConstant */ .chroma .kc { color: #00a8c8 } 
/* KeywordDeclaration */ .chroma .kd { color: #00a8c8 }
/* KeywordNamespace */ .chroma .kn { color: #f92672 }
/* KeywordPseudo */ .chroma .kp { color: #00a8c8 }   
/* KeywordReserved */ .chroma .kr { color: #00a8c8 } 
/* KeywordType */ .chroma .kt { color: #00a8c8 }     
/* Name */ .chroma .n { color: #111111 }
/* NameAttribute */ .chroma .na { color: #75af00 }   
/* NameBuiltin */ .chroma .nb { color: #111111 }     
/* NameBuiltinPseudo */ .chroma .bp { color: #111111 }
/* NameClass */ .chroma .nc { color: #75af00 }       
/* NameConstant */ .chroma .no { color: #00a8c8 }    
/* NameDecorator */ .chroma .nd { color: #75af00 }   
/* NameEntity */ .chroma .ni { color: #111111 }      
/* NameException */ .chroma .ne { color: #75af00 }   
/* NameFunction */ .chroma .nf { color: #75af00 }    
/* NameFunctionMagic */ .chroma .fm { color: #111111 }
/* NameLabel */ .chroma .nl { color: #111111 }       
/* NameNamespace */ .chroma .nn { color: #111111 }   
/* NameOther */ .chroma .nx { color: #75af00 }       
/* NameProperty */ .chroma .py { color: #111111 }    
/* NameTag */ .chroma .nt { color: #f92672 }
/* NameVariable */ .chroma .nv { color: #111111 }    
/* NameVariableClass */ .chroma .vc { color: #111111 }
/* NameVariableGlobal */ .chroma .vg { color: #111111 }
/* NameVariableInstance */ .chroma .vi { color: #111111 }
/* NameVariableMagic */ .chroma .vm { color: #111111 }
/* Literal */ .chroma .l { color: #ae81ff }
/* LiteralDate */ .chroma .ld { color: #d88200 }     
/* LiteralString */ .chroma .s { color: #d88200 }    
/* LiteralStringAffix */ .chroma .sa { color: #d88200 }
/* LiteralStringBacktick */ .chroma .sb { color: #d88200 }
/* LiteralStringChar */ .chroma .sc { color: #d88200 }
/* LiteralStringDelimiter */ .chroma .dl { color: #d88200 }
/* LiteralStringDoc */ .chroma .sd { color: #d88200 }
/* LiteralStringDouble */ .chroma .s2 { color: #d88200 }
/* LiteralStringEscape */ .chroma .se { color: #8045ff }
/* LiteralStringHeredoc */ .chroma .sh { color: #d88200 }
/* LiteralStringInterpol */ .chroma .si { color: #d88200 }
/* LiteralStringOther */ .chroma .sx { color: #d88200 }
/* LiteralStringRegex */ .chroma .sr { color: #d88200 }
/* LiteralStringSingle */ .chroma .s1 { color: #d88200 }
/* LiteralStringSymbol */ .chroma .ss { color: #d88200 }
/* LiteralNumber */ .chroma .m { color: #ae81ff }    
/* LiteralNumberBin */ .chroma .mb { color: #ae81ff }
/* LiteralNumberFloat */ .chroma .mf { color: #ae81ff }
/* LiteralNumberHex */ .chroma .mh { color: #ae81ff }
/* LiteralNumberInteger */ .chroma .mi { color: #ae81ff }
/* LiteralNumberIntegerLong */ .chroma .il { color: #ae81ff }
/* LiteralNumberOct */ .chroma .mo { color: #ae81ff }
/* Operator */ .chroma .o { color: #f92672 }
/* OperatorWord */ .chroma .ow { color: #f92672 }    
/* Punctuation */ .chroma .p { color: #111111 }      
/* Comment */ .chroma .c { color: #75715e }
/* CommentHashbang */ .chroma .ch { color: #75715e } 
/* CommentMultiline */ .chroma .cm { color: #75715e }
/* CommentSingle */ .chroma .c1 { color: #75715e }   
/* CommentSpecial */ .chroma .cs { color: #75715e }  
/* CommentPreproc */ .chroma .cp { color: #75715e }  
/* CommentPreprocFile */ .chroma .cpf { color: #75715e }
/* GenericEmph */ .chroma .ge { font-style: italic } 
/* GenericStrong */ .chroma .gs { font-weight: bold }
