<header>
  <div class="main">
    {{- if .Site.Params.CursorAnimation -}}
    <div class="blinking"></div>
    {{- end -}}
    <a id="nav-title" href="{{ .Site.BaseURL }}">
      {{- if isset .Site.Params "navtitle" -}}
        {{ .Site.Params.Navtitle | markdownify }}
      {{ else }}
        {{ .Site.Title }}
      {{- end -}}
    </a>
  </div>
  <nav>
  {{ range .Site.Menus.main }}
    <a href="{{ .URL }}">{{ .Name }}</a>
  {{ end }}
  {{ if eq .Site.Params.mode "toggle" -}}
    <button
      id="dark-mode-toggle"
      aria-label="toggle dark mode"
      onclick="toggleTheme()">
    </button>
    <script src="{{ .Site.BaseURL }}js/themetoggle.min.js"></script>
  {{ end }}
  </nav>
</header>
